{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
    <title>عضویت</title>
{% endblock %}
{% block content %}
    <form class="content-section single-content" method="post" novalidate>
        {% csrf_token %}
        <h4>عضویت در سایت</h4>
        <hr>
        <p style="margin-bottom: 0.5rem;">برای استفاده از قابلیت های سایت یک حساب کاربری بسازید.</p>
        <p>اگر حساب کاربری دارید، <a href="{% url 'login' %}">وارد شوید</a>.</p>
        {{ form|crispy }}
        <input style="margin: 1rem 0;" class="btn btn-info button" type="submit" value="ثبت نام">
    </form>
{% endblock %}