{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="content-section article-section single-content>
        <div class="article-header">
            <h4>تبدیلگر ارز</h4>
        </div>
        <hr style="border-bottom: 1px solid var(--border-lines);">
        <p>در این قسمت میتوانید ریال را به ارز های دیگر تبدیل کنید.</p>
        <form action="{% url 'currency-converter' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form">
                <p>ارز مورد نظر خود را انتخاب و مقدار ریالی مورد نظر را وارد کنید.</p>
                {{ r_form|crispy }}
                <input class="btn btn-primary mb-3" type="submit" value="حساب کن">
            </fieldset>
            {% if r_result %}
                {% autoescape off %}
                    <p>{{ r_result }}</p>
                {% endautoescape %}
            {% endif %}
            <fieldset class="form">
                <p>ارز مورد نظر خود را انتخاب و مقدار مورد نظر را وارد کنید.</p>
                {{ c_form|crispy }}
                <input class="btn btn-primary mb-3" type="submit" value="حساب کن">
            </fieldset>
            {% if c_result %}
                {% autoescape off %}
                    <p>{{ c_result }}</p>
                {% endautoescape %}
            {% endif %}
        </form>
    </article>
{% endblock%}