@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  font-size: 17px;
  direction: rtl;
  overflow-wrap: break-word;
  --theme-color: rgb(122, 214, 2);
  --nav-bg: rgb(20, 20, 20);
  --nav-hover-bg: rgb(71, 71, 71);
  --text-color: white;
  --border-lines: rgb(151, 151, 151);
  --content-bg: rgba(51, 51, 51, 0.2);
}

* {
  font-family: "Vazir", "Open Sans", sans-serif;
  text-align: right;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background: rgb(24, 127, 224);
  background: linear-gradient(
    90deg,
    rgba(24, 127, 224, 1) 0%,
    rgb(0, 0, 0) 50%,
    rgba(152, 4, 121, 1) 100%
  );
}

nav {
  background-color: var(--nav-bg);
  border-bottom: 7px solid var(--theme-color);
  box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.3);
}

.navbar-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fixed {
  position: sticky;
  top: 0;
}

.right-navbar {
  margin: 0.2rem 2.5rem 0.2rem 0.7rem;
}

.right-navbar ul li {
  margin: 0 1.2rem;
}

.left-navbar {
  margin: 0.2rem 0.7rem 0.2rem 4rem;
}

.left-navbar li {
  margin: 0 0.2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav li a {
  color: var(--text-color);
  padding: 0.3rem 0.6rem;
}

nav li a:visited {
  color: var(--text-color);
}

nav li a:hover,
nav li a.active {
  color: var(--theme-color);
  background-color: var(--nav-hover-bg);
  text-decoration: none;
  border-radius: 5px;
}

.message {
  margin: 2rem auto 1rem;
  width: 70%;
}

main {
  min-height: calc(100vh - 9rem);
  margin: 1.5rem 1rem 3rem;
}

#home-container {
  display: grid;
  grid-template-areas:
    "title title"
    "article aside"
    "article aside";
  column-gap: 1rem;
  row-gap: 0.7rem;
}

#home-title {
  grid-area: title;
}

#articles-container {
  grid-area: article;
}

aside {
  grid-area: aside;
  margin: 0 auto;
}

#side-container {
  max-width: 27ch;
  display: flex;
  flex-direction: column;
}

#side-title {
  display: none;
  margin-bottom: 1rem;
}

.content-section {
  border-left: 1px solid var(--border-lines);
  border-right: 1px solid var(--border-lines);
  border-top: 5px solid var(--theme-color);
  border-bottom: 5px solid var(--theme-color);
  background-color: var(--content-bg);
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.content-section p {
  text-align: justify;
}

.content-section a {
  color: var(--theme-color);
}

.content-section a:hover {
  color: var(--theme-color);
}

.content-section a:visited {
  color: var(--theme-color);
}

.article-section {
  padding: 1.2rem 2rem;
  margin-top: 2.5rem;
}

.article-section:first-child {
  margin-top: 0;
}

.article-header a {
  color: var(--text-color);
  display: inline-block;
}

.article-header a:visited {
  color: var(--text-color);
}

.article-header a:hover {
  color: var(--theme-color);
  text-decoration: none;
}

.article-header span {
  margin-right: 1.5rem;
  font-size: 15px;
  color: #ececec;
  display: inline-block;
}

hr {
  border-top: 1px solid rgb(179, 179, 179);
}

.description {
  margin: 0 1.5rem;
}

.article-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.info-section {
  text-align: center;
}

.info-section img {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
}

.info-section span {
  display: block;
  text-align: inherit;
}

.info-section a {
  color: var(--text-color);
}

.info-section a:visited {
  color: var(--text-color);
}

.info-section a:hover {
  color: var(--theme-color);
  text-decoration: none;
}

.quote-section {
  margin-top: 2rem;
  text-align: justify;
}

.icons {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-evenly;
}

.detail-article {
  width: 85%;
  margin: auto;
}

.sm-user-image {
  width: 80px;
  height: 80px;
}

.comment {
  border: 1px solid var(--border-lines);
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
}

.comment span {
  display: inline-block;
  margin-right: 1.5rem;
}

.comment p {
  margin-top: 0.5rem;
  border-top: 2px solid var(--theme-color);
  padding: 0.3rem;
}

.comment span a {
  color: var(--text-color);
}

.comment span a:visited {
  color: var(--text-color);
}

.comment span a:hover {
  color: var(--theme-color);
  text-decoration: none;
}

.button {
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.middle-content {
  margin: 5vh auto;
  padding: 1.5rem 2.5rem;
  width: 60%;
}

.profile {
  margin: 5vh auto;
  padding: 1.5rem 2.5rem;
  width: 80%;
  display: grid;
  grid-template-areas:
    "image   profile-info"
    "comments   comments";
}

.profile img {
  grid-area: image;
}

.profile-info {
  grid-area: profile-info;
  margin: 3rem 1rem 0 0;
}

.profile-comments {
  grid-area: comments;
  margin-top: 3rem;
}

.answer {
  direction: ltr;
}

footer {
  width: 100%;
  margin-top: 2rem;
  border-top: 2px solid var(--theme-color);
  height: 30px;
  background-color: var(--nav-bg);
  color: rgb(129, 129, 129);
}

.footer-content {
  height: 100%;
  text-align: center;
}

@media (max-width: 1023px) {
  .right-navbar {
    margin: 0.2rem 1rem 0.2rem 0.5rem;
  }

  .right-navbar ul li {
    margin: 0 0.3rem;
  }

  .left-navbar {
    margin: 0.2rem 0.5rem 0.2rem 1rem;
  }

  .left-navbar li {
    margin: 0 0.1rem;
  }
}

@media (max-width: 849px) {
  #home-container {
    grid-template-areas:
      "aside"
      "title"
      "article";
  }

  #home-title {
    text-align: center;
    margin-top: 1rem;
  }

  #side-container {
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .info-section {
    flex: 1;
  }

  .quote-section {
    flex: 1;
    margin: 0;
  }

  #side-title {
    display: block;
  }
}

@media (max-width: 767px) {
  .right-navbar ul li {
    display: block;
    margin: 0.7rem 0;
  }

  .left-navbar ul {
    display: block;
  }
}

@media (max-width: 520px) {
  #side-container {
    flex-direction: column;
  }
}

@media (min-width: 1500px) {
  .navbar-wrap {
    width: 70%;
    margin: 0 auto;
  }

  main {
    width: 70%;
    margin: 2rem auto 3rem;
  }

  .footer-content {
    width: 70%;
    margin: 0 auto;
    bottom: 0;
  }
}
