{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load mptt_tags %}
{% block metatags %}
    {{ article.metatags }}
{% endblock %}
{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}
{% block content %}
    {% autoescape off %}
        <article class="content-section single-content">
            <h4>{{ article.title }}</h4>
            <div class="content-header">
                {% if article.author %}
                    <a href="{% url 'profile' article.author %}"><img src="{{ article.author.profile.photo.url }}" class="sm-user-image rounded-circle" alt="author photo"></a>
                    <div class="vertical-switcher">
                        <span>نویسنده: <a href="{% url 'profile' article.author %}">{{ article.author.first_name }} {{ article.author.last_name }}</a></span>
                {% else %}
                    <div class="vertical-switcher">
                {% endif %}
                        <span>{{ article.get_jalalidatetime }}</span>
                    </div>
            </div>
            <hr style="border-top: 1px solid var(--border-lines);">
            <p class="description">{{ article.description }}</p>
            {% if article.image_1 %}
                <br>
                <img class="article-image"  src="{{ article.image_1.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_1 %}
                <p>{{ article.paragraph_1 }}</p>
                <br>
            {% endif %}
            {% if article.image_2 %}
                <img class="article-image"  src="{{ article.image_2.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_2 %}
                <p>{{ article.paragraph_2 }}</p>
                <br>
            {% endif %}
            {% if article.image_3 %}
                <img class="article-image"  src="{{ article.image_3.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_3 %}
                <p>{{ article.paragraph_3 }}</p>
                <br>
            {% endif %}
            {% if article.image_4 %}
                <img class="article-image"  src="{{ article.image_4.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_4 %}
                <p>{{ article.paragraph_4 }}</p>
                <br>
            {% endif %}
            {% if article.image_5 %}
                <img class="article-image"  src="{{ article.image_5.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_5 %}
                <p>{{ article.paragraph_5 }}</p>
                <br>
            {% endif %}
            {% if article.image_6 %}
                <img class="article-image"  src="{{ article.image_6.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_6 %}
                <p>{{ article.paragraph_6 }}</p>
                <br>
            {% endif %}
            {% if article.image_7 %}
                <img class="article-image"  src="{{ article.image_7.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_7 %}
                <p>{{ article.paragraph_7 }}</p>
                <br>
            {% endif %}
            {% if article.image_8 %}
                <img class="article-image"  src="{{ article.image_8.url }}" alt="image">
                <br>
            {% endif %}
            {% if article.paragraph_8 %}
                <p>{{ article.paragraph_8 }}</p>
            {% endif %}

            {% if user.is_authenticated %}
                <form action="{% url 'article-detail' article.pk %}" method='POST'>
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input class="btn btn-success button"type="submit" value="ثبت">
                </form><br>
            {% else %}
                <h5>برای ثبت نظر خود <a href="{% url 'login' %}">وارد شوید</a> و یا <a href="{% url 'register' %}">ثبت نام کنید</a>.</h5><br>
            {% endif %}
            {% if comments %}
                <div>
                    <h4>دیدگاه ها</h4>
                    <hr style="border-top: 1px solid var(--border-lines);">
                    {% recursetree comments %}
                        <div class="comment" id="comment{{node.id}}">
                            <a href="{% url 'profile' node.author %}"><img src="{{ node.author.profile.photo.url }}" class="sm-user-image rounded-circle" alt="photo"></a>
                            <span><a href="{% url 'profile' node.author %}">{{ node.author.first_name }} {{ node.author.last_name }}</a></span><span>
                            {{ node.get_jalalidatetime }}</span>
                            {% if user.is_authenticated %}
                                <a class="btn btn-secondary button" style="margin-right: 1.5rem;" href="{% url 'article-detail' article.id node.id %}#comment{{node.id}}">پاسخ</a>
                                {% if user == node.author %}
                                    <a class="btn btn-danger button" style="margin-right: 0.5rem;" href="{% url 'comment-delete' node.id %}">حذف</a>
                                    <a class="btn btn-dark button" style="margin-right: 0.5rem;" href="{% url 'comment-update' node.id %}">ویرایش</a>
                                {% endif %}
                            {% endif %}
                            <p>{{ node.comment }}</p>
                            {% if user.is_authenticated %}
                                {% if cm == node.id %}
                                    <form action="{% url 'article-detail' article.pk node.pk %}" method="POST">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <input type="submit" value="ثبت" class="btn btn-success button">
                                    </form>
                                {% endif %}
                            {% endif %}
                            {% if not node.is_leaf_node %}
                                    {{ child.user }}{{ children }}
                            {% endif %}
                        </div>
                    {% endrecursetree %}
                <div>
            {% endif %}
        </article>
    {% endautoescape %}
{% endblock %}