{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hossein Yousefian">
    {% autoescape off %}
      {% block metatags %}
      {% endblock %}
    {% endautoescape %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
    <link rel="icon"href="{% static 'blog/favicon.ico' %}">
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welcome To My Website</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons" style="color: white;">menu</span>
        </button>
      
        <div class="right-navbar collapse navbar-collapse" id="navbarSupportedContent">
          <ul>
            <li>
              <a href="{% url 'home-page' %}" {% if request.path == "/" %}class="active"{% endif %}>بلاگ</a>
            </li><li>
              <a href="{% url 'currency-converter' %}" {% if request.path == "/currency_converter/" %}class="active"{% endif %}>تبدیلگر ارز</a>
            </li><li>
              <a href="{% url 'fibonacci-calculator' %}" {% if request.path == "/fibonacci_calculator/" %}class="active"{% endif %}>حسابگر فیبوناچی</a>
            </li><li>
              <a href="{% url 'contact-me' %}" {% if request.path == "/contact/" %}class="active"{% endif %}>تماس با من</a>
            </li>
          </ul>
        </div>

        <div class="left-navbar">
            <ul>
              {% if user.is_authenticated %}
                <li><a href="{% url 'profile' user %}" {% if "profile" in request.path %}class="active"{% endif %}>پروفایل</a>
                </li><li style="cursor: default;">/</li><li><a href="{% url 'logout' %}" {% if request.path == "/logout/" %}class="active"{% endif %}>خروج</a></li>
              {% else %}
                <li><a href="{% url 'login' %}" {% if request.path == "/login/" %}class="active"{% endif %}>ورود</a>
                </li><li style="cursor: default;">/</li><li><a href="{% url 'register' %}" {% if request.path == "/register/" %}class="active"{% endif %}>ثبت نام</a></li>
              {% endif %}
            </ul>
        </div>  
    </nav>
    {% if messages %}
      <div class="messages">
          {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
          {% endfor %}
      </div>
    {% endif %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'blog/script.js' %}"></script> 
</body>
</html>