{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="content-section single-content" method="POST">
        {% csrf_token %}
        <h4>حذف دیدگاه</h4>
        <hr>
        <p>آیا از حذف دیدگاه خود مطمئن هستید؟</p>
        {{ form|crispy }}
        <input style="margin: 1rem 0;" class="btn btn-danger button" type="submit" value="حذف نظر">
        <a style="margin-right: 0.3em;" class="btn btn-dark button" href="{% url 'article-detail' comment.article.id %}">بازگشت</a>
    </form>
{% endblock %}