{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
    <title>بازیابی رمز عبور</title>
{% endblock %}
{% block content %}
    <form class="content-section single-content" method="post">
        {% csrf_token %}
        <h4>بازیابی رمز عبور</h4>
        <hr>
        <p style="margin-bottom: 1.5rem;">در صورتی که رمز عبور خود را فراموش کرده‌‌‌‌اید، ایمیل خود را در این قسمت وارد کنید.</p>
        {{ form|crispy }}
        <input style="margin: 1rem 0;" class="btn btn-info button" type="submit" value="بازیابی رمز عبور">
    </form>
{% endblock %}