{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
    <title>تغییر رمز عبور</title>
{% endblock %}
{% block content %}
    <form class="content-section single-content" method="post">
        {% csrf_token %}
        <h4>تغییر رمز عبور</h4>
        <hr>
        <p style="margin-bottom: 1.5rem;">در این قسمت میتوانید برای حساب کاربری خود یک رمز عبور جدید تعریف کنید.<br>مطمئن شوید که رمز عبور جدید به اندازه کافی قوی است.</p>
        {{ form|crispy }}
        <input style="margin: 1rem 0;" class="btn btn-info button" type="submit" value="تغییر رمز عبور">
    </form>
{% endblock %}