{% extends "blog/base.html" %}
{% load static %}
{% block metatags %}
    <meta name="author" content="حسین یوسفیان">
    <meta name="description" content="وب سایتی برای علاقه مندان به تکنولوژی، برنامه نویسی، مباحث مالی">
    <meta name="keywords" content="تکنولوژی, برنامه نویسی, مباحث مالی">
{% endblock %}
{% block content %}
    <div id="home-container">
        <h4 id="home-title" style="margin-top: -1.5rem;">جدیدترین مقالات</h4>
        <div id="articles-container">
            {% for article in articles %}
                {% autoescape off %}
                    <article class="content-section">
                        <h4 class="white-link"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                        <div class="content-header">
                            <div class="vertical-switcher">
                                {% if article.author %}
                                    <span>نویسنده: <a href="{% url 'profile' article.author %}">{{ article.author.first_name }} {{ article.author.last_name }}</a></span>
                                {% endif %}
                                <span>{{ article.get_jalalidatetime }}</span>
                            </div>
                        </div>
                        <hr>
                        <p class="description">{{ article.description }}</p>
                        {% if article.image_1 %}
                            <br>
                            <img class="article-image"  src="{{ article.image_1.url }}" alt="article image">
                        {% endif %}
                    </article>
                {% endautoescape %}
            {% endfor %}
        </div>
        <aside>
            <div id="side-container">
                <div class="content-section info-section white-link">
                    <a href="{% url 'contact-me' %}"><img src="{% static 'blog/my_photo.jpg' %}" class="rounded-circle" alt="author photo"></a>
                    <a href="{% url 'contact-me' %}">حسین یوسفیان</a><br>
                    <span>به وب سایت من خوش آمدید.</span>
                    <span>من در زمینه برنامه نویسی فعالیت میکنم و به موضوعات تکنولوژی، مالی، کلان داده و فلسفه علاقه مندم.</span>
                </div>
                {% if quote %}
                    <div class="content-section quote-section">
                        <span>نقل قول:</span><br><br>
                        <q>‌{{ quote }}</q><br><br>
                        <span>-{{ quote_author }}</span>
                    </div>
                {% endif %}
            </div>
        </aside>
    </div>
{% endblock%}